.extra {
    margin-top: 0 !important
}

.main-column-left{
    padding-left: 4rem !important;
}

.main-column-right{
    padding-right: 4rem !important;
}

.question-item {
    cursor: pointer;
}

.question-item:hover {
    background: rgba(0,0,0,.03) !important;
    color: black; 
}

label{
    font-weight: 700 !important;
    margin-top: 1em !important;
    display: inline-block;
}